div_keys{
    width: 30px;
    color: red;
    background-color: white;
    border: solid red;
    padding: 8px;
    margin: 3px;
    text-align: center;
    top: 5px;
    font-weight: bold;
}

.topnav{
    background-color: lightpink;
    overflow: hidden;
}

.topnav a{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.active {
    background-color: aliceblue;
    color: black;
}